<?xml version="1.0"?>
<robot name="DoubleArmV7-RTR" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- == DoubleArmV7-TNK base == -->
  <xacro:include filename="$(find double_arm_v7_rtr_description)/urdf/DoubleArmV7S_RTR_base.urdf.xacro"/>
  
  <!-- == Sensor == -->
  <xacro:include filename="$(find double_arm_v7_rtr_description)/urdf/SENSOR.urdf.xacro"/>
  
</robot>
